@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
body{
    font-family: 'Tajawal', sans-serif;
    width: 300px;
    font-size: 14px;
    background-color: #e7e7ea;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px;
}



textarea::placeholder{
    font-size: 14px;
    text-align: right;
    font-weight: bold;
}





.one-value-input::placeholder{
    text-align: right;
}

.line{

    background-color:grey;
    height: 0.5px;
    width:50%;
}
.fill-by-columns-title{

    color:lightgray;
    font-size: 0.5rem;
    white-space: nowrap;
}